.login-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #6C63FF;
}

.logo-home {
    position: absolute;
    margin: 3rem;
}

.login-img {
    overflow: hidden;
    width: 38%;
}

.login-img > img {
    object-fit: cover;
    height: 100%;
    width: 87%;
}

.login-form-wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    z-index: 1;
}

.login-form {
    height: 80rem;
    width: 60rem;
    border-radius: 5rem;
    background-color: #FCFCFC;
}

.login-form-img {
    margin-top: 3rem;
}

.login-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-options {
    width: 30rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.login-form-options > a{
    font-family: "Montserrat", sans-serif;
    color: #6C63FF;
    font-weight: bold;
}

.login-form > form > span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3rem;
}


@media (max-width: 1030px) {
    .login-img {
        display: none;
    }

    .login-main {
        justify-content: center;
    }

    .login-form-wrapper {
        width: 100%;
        padding: 0;
    }

    .login-form {
        height: 100%;
        width: 100%;
        border-radius: 0rem;
    }

    .login-form > form {
        margin-top: -5rem;
    }

    .login-form-options {
        width: 20rem;
        height: 3rem;
    }

    .login-form-img {
        width: 20rem;
        margin: 5rem auto;
    }
}