.form {
    display: flex;
    position: relative;
    width: 30rem;
}

.form > label > input {
    width: 30rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: #C4C4C4;
    color: #000;
    font-weight: bold;
    padding: 0 2rem;
    outline: none;
    border: none;
}

.form-icon {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.form-icon > svg {
    color: #000;
    font-size: 3rem;
}