.form-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.form-img > img {

    display: flex;
    margin-left: 5rem;
}

.form-description {
    position: absolute;
    text-align: center;
    margin-top: 7rem;
}

.form-description > h1 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

.form-description > p {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}