.form-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-img > img {
    display: flex;
    margin-left: 5rem;
}

.form-description {
    position: absolute;
    text-align: center;
    margin-top: 7rem;
}

.form-description > h1 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

.form-description > p {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1030px) {
    .form-img > img {
        margin-left: 5rem;
        width: 100%;
    }

    .form-description {
        margin-top: 7.5rem;
    }

    .form-description > h1 {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
    }
    
    .form-description > p {
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
    }
}

@media (max-width: 280px) {
    .form-img > img {
        margin-bottom: 5rem;
    }

    .form-description {
        margin-top: 0rem;
    }

    .form-description > h1 {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
    }
    
    .form-description > p {
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
    }
}