.section-app {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F2F6FF;
}

.section-app-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5rem;
}

.section-app-left > img {
    max-width: 100%;
}

.section-app-right {
    width: 50%;
    display: flex;
    padding: 0 5rem;
    flex-direction: column;
}

.section-right-description > h1{
    font-size: clamp(2rem, 2.5vw, 4rem); 
    color: #121139;
}

.section-right-description > p {
    font-size: 2rem;
    color: #121139;
    margin-bottom: 5rem;
}

.section-right-img > img {
    margin-right: 2rem;
}


@media (max-width:800px) {
    .section-app-left {
        width: 100%;
    }
    .section-app-right {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 5;
        margin-bottom: 5rem;
    }
}

@media (max-width:500px) {
    .section-right-description {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section-right-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}