.footer {
    width: 100%;
    margin-top: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_footer {
    height: 100%;
    padding: 0 10rem;
}

.footer_links {
    display: flex;
    flex-wrap: wrap;
}

.footer_links > div {
    height: 15rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_links > div > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_links > div > h2 {
    color: #CAD6F1;
    margin-bottom: 1rem;
}

.footer_links > div > ul > li {
    margin-bottom: 1rem;
}

.footer_links > div > ul > li a {
    color: #F2F6FF;
}

.footer_links > div > ul > li a:hover {
    color: #CAD6F1;
}

.copyright {
    width: 80%;
    border-top: 1px solid #CAD6F1;

    margin-top: 10rem;
}

.copyright > p {
    color: #CAD6F1;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

@media (max-width: 1200px) {
    .footer_links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .footer_links > div {
        height: 15rem;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .footer {
        margin-top: 5rem;
    }
    .logo_footer {
        height: auto;
        padding:0;
        width: auto;
        margin-bottom: 5rem;
    }
    .footer_wrapper {
        flex-direction: column;
    }
}
