.register_main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.logo_home {
    position: absolute;
    margin: 3rem;
}

.register_img {
    overflow: hidden;
    width: 38%;
}

.register_img > img {
    object-fit: cover;
    height: 100%;
    width: 87%;
}

.register_form_wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    z-index: 1;
}

.register_form {
    max-height: 60rem;
    max-width: 60rem;
    border-radius: 5rem;
    background-color: #fff;
}

.register_form_img {
    width: 100%;
    height: 20rem;
}

.register_form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register_btn {
    width: 30rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: #6C63FF;
    color: #FFFF;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3rem;
    outline: 1px solid black;
    border: none;
}

.register_form > form > span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

@media (max-width: 1030px) {
    .register_img {
        display: none;
    }

    .register_main {
        justify-content: center;
    }

    .register_form_wrapper {
        width: 100%;
        padding: 0;
    }

    .register_form {
        height: 100%;
        width: 100%;
        border-radius: 0rem;
    }

    .register_form_img {
        width: 20rem;
        margin: 3rem auto;
    }

    .register_form > form {
        margin-top: -5rem;
    }

    .register_form_options {
        width: 20rem;
        height: 3rem;
    }

    #register_btn {
        width: 20rem;
        height: 4rem;
    }

    .register_form > form > span {
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 280px) {
    .register_form_img {
        width: 20rem;
    }
}