.main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.logo {
    position: absolute;
    margin: 3rem;
}

.img {
    overflow: hidden;
    width: 38%;
}

.img > img {
    object-fit: cover;
    height: 100%;
    width: 87%;
}

.form_wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    z-index: 1;
}

.form_img {
    margin-top: 3rem;
}

.form_img > img{
    width: 100%;
}

.form {
    width: 60rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form_description {
    width: 30rem;
}

.form_description > h1, p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn {
    width: 30rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: #6C63FF;
    color: #FFFF;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5rem;
    outline: 1px solid black;
    border: none;
    margin-top: 20rem;
    margin-bottom: 2rem;
}

@media (max-width: 1030px) {
    .img {
        display: none;
    }
    
    .form_wrapper {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 600px) {

    .form_img {
        width: 25rem;
    }

    .form_description {
        width: 25rem;
    }

    #btn {
        width: 20rem;
        margin-top: 10rem;
    }

    .options {
        width: 25rem;
    }

    .options > p {
        font-size: 1.3rem;
    }

}